body {
  background: url(food1.avif);
  background-size: cover;
  background-repeat: no-repeat;
background-color: black;
}

h1 {
  color: black;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background-color: #ffffffb9;
  padding: 10px;
  width: 400px;
  text-align: center;
}
.button-add {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background-color: #31724aec;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  width: 420px;
}
.button-delete {
  font-family: "Montserrat", sans-serif;
  border: none;
  background: none;
  font-weight: bolder;
  color: red;

}
.deleteAll {
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  background-color: #b42d2ddc;
  padding: 10px;
  font-size: 17px;
  color: #fff;
  text-align: center;
  width: 420px;
  margin-top: 10px;
}
.App {
  display: flex;
  justify-content: space-around;
}
.whole-plan {
  width: 70%;
  height: 100vh;

}
.myInput {
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  font-size: 20px;
}
.selected {
  background-color: #fbec16;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 3px;
  margin-top: 10px;
}
.default {
  background-color: #ffffffbd;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  padding: 3px;
  margin-top: 10px;
}
.plan {
font-size: 20px;
  font-family: "Montserrat", sans-serif;
  text-align: end;
  color: #fff;
 
}
@media all and (max-width:800px) {
  body {
    background-size: auto;
  }
  .plan {
    align-self: flex-end;
  }
  h1 {
    width: 230px;
    margin-left: 20px;
  }
  .button-add, .deleteAll {
    width: 250px;
    margin-left: 20px;
  }
  textarea, .myInput {
    margin-left: 20px;
  }
  .list {
    width: 250px;
    margin-left: 20px;
  }
}
@media all and (max-width:500px) {
  body {
    background-size: auto;
  }
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan {
    display: none;
  }
  h1 {
    width: 230px;
    margin-left: 0px;
  }
  .button-add, .deleteAll {
    width: 250px;
    margin-left: 0px;
  }
  textarea, .myInput {
    margin-left: 0px;
    width: 250px;
  }
  .list {
    width: 250px;
    margin-left: 0px;
  }
}